<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82283967793-nmgv69kdhb2qroqqnft18uld9r1jlcd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82283967793-nmgv69kdhb2qroqqnft18uld9r1jlcd2</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ZWmCtbSUra1EG40XfrK-yJqzKxAS56k</string>
	<key>GCM_SENDER_ID</key>
	<string>82283967793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sunroom</string>
	<key>PROJECT_ID</key>
	<string>sunroom-8efe4</string>
	<key>STORAGE_BUCKET</key>
	<string>sunroom-8efe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82283967793:ios:12aa30c83c4c596da06c10</string>
</dict>
</plist>